
  <script type="text/javascript">


  $( document ).ready(function() {

    $('.ui.dropdown').dropdown();
    $('.ui.checkbox').checkbox();
//     $("#check").checkbox();
    
   // $('.ui.modal').modal('setting', 'closable', true).modal('show');
     $('#modalInserir').modal({
       blurring: true
     });  
    
});
  </script>

<style type="text/css">
    @media only screen and (max-width: 800px) {
        .myMenu {
            display:none;
        }
    }

    @media only screen and (min-width: 800px) {
        .myMenu {
            display:block;
        }
    }
  </style>
  </h:head>
  <h:body>
            <form class="ui form">
              <h2 class="ui dividing header">Produto</h2>
              <div class="one field">
              <div class="ui grid">
                <div class="ten wide column">
                  <div class="field">
                    <label>Nome Item</label>
                    <input type="text" ng-required="true" ng-model="vm.itemConsumo.nome"  name="nome" value="" placeholder="Nome Item" type="text" />
                  </div>
                </div>
                <div class="six wide column">
                  <div class="field">
                  	<label>Código</label>
                    <div class="ui search">
                      <div class="ui icon input">
  					  	        <div ng-if="vm.itemConsumo._id" >
  						            <input ng-disabled="true" type="text"  class="prompt" value="" ng-required="true" ng-model="vm.itemConsumo._id" placeholder="" type="text"/>
  					  	        </div>					    
                        <i class="search icon" ng-click="vm.getById()"></i>
                      </div>
                      <div class="results"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <div class="one field">
                <div class="field">
                  <label>Descrição</label>
                  <input type="text"  name="descricao" ng-model="vm.itemConsumo.descricao" value="" placeholder="Descrição" type="text"/>
                </div>
              </div>
              
              <div class="two fields">
                <div class="field">
                  <label>Categoria</label>
  

                    <select ng-change="vm.atualizaSubCategorias()"  ng-model="vm.categoria._id" class="ui fluid dropdown"
                          ng-options="cat._id as cat.nome for cat in vm.categorias">
                      <option value="">Selecione a categoria</option>
                  </select>
                </div>
                
                <div class="field" id="subCategoria">
  	              <div class="field">
  	                <label>Sub Categoria</label>
  
                    <select ng-model="vm.itemConsumo.subCategoria" class="ui fluid dropdown" ng-options="sub._id as sub.nome for sub in vm.subCategorias">
                        <option value="">Selecione a sub categoria</option>
                    </select>
  	              </div>
                </div>
              </div>
              

              
              <div class="two fields">
                <div class="ui field toggle checkbox">
                  <input type="checkbox" name="status" ng-model="vm.itemConsumo.status" ng-value="{{vm.status}}">
                  <label>Status</label>
                </div>
                <div class="ui field toggle checkbox"  id="check">
                  <input type="checkbox" ng-model="vm.itemConsumo.favorito" value="" />
                  <label>Favorito</label>
                </div>
              </div>

              <div class="three fields">
                <div class="field">
                  <label>Preço de Venda</label>
                  <input type="text" ng-model="vm.itemConsumo.precoVenda"   name="precoVenda" value="" type="text"/>
                </div>
                <div class="field">
                  <label>Lucro</label>
                  <input type="text" ng-model="vm.itemConsumo.lucro"  disabled="true" id="lucro" name="lucro" value=""  type="text"/>
                </div>
				        <div class="field">
                  <label>Custo</label>
                  <input type="text" ng-model="vm.itemConsumo.custo" name="custo" disabled="true" id="custo" value="custo" type="text"/>
                </div>
              </div>
              <div class="field">

              <div class="field" id="tabela">
                <table class="ui celled table">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Qtd</th>
                      <th>Un Medida</th>
                      <th>Custo</th>
                      <th>Remover</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in vm.itensEstoqueConsumo  | filter : filtro track by $index" class="positive">
                          <td >{{item.nome}}</td>
                          <td >{{item.medidaPorUnidade}}</td>
                          <td >{{item.unidadeMedida}}</td>
                          <td >{{item.custo}}</td>
                          <td><i class="remove circle icon"></i></td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th colspan="5">
                        <div class="ui right floated pagination menu">
                          <a class="icon item" onClick="$('#modalInserir').show();return false;">
                            <i class="add chevron icon"></i>
                          </a>
                        </div>
                      </th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>

            <div class="one field">
              <div class="field">
                <input type="button" class="positive ui button" ng-click="!vm.produto._id ? vm.insert() : vm.update()"  value="Salvar"/>
                <input type="button" class="negative ui button" ng-if="vm.produto._id" ng-click="vm.delete()" id="btexcluir" value="Remover"/>
                <input type="button" class="submit ui button" value="Novo" />
                <a ui-sref="listaProduto" class="submit ui button">Ir para lista</a>
              </div>
            </div>
            <div class="one field">
              <div class="field">
              	
              </div>
            </div>
              
            <div id="panelModal">
            
              <div class="ui modal" id="modalInserir" style="margin-top: -200px;">
    			    <i class="close icon"></i>
    			    <div class="header">
    			      Inserir Item na lista
    			    </div>
    			    <div class="content">
    			      <div class="ui form">
    			        <div class="three fields">
    			          <div class="field">
    			            <label>Item do estoque</label>
                        <select ng-options="item._id as item.nome for item in vm.itensEstoque track by item.id" 
                          ng-model="vm.itemConsumo.itemNovo">
                          <option value="">Selecione a Unidade</option>
                        </select>
    			          </div>
    			          <div class="field">
    			            <label>Quantidade</label>
    			            <input type="number" name="itemEstoque[quantidadeCritica]" placeholder="#" type="text"/>
    			          </div>
    			          <div class="field">
    			            <label>Un Medida</label>
                        <select ng-options="unidade._id as unidade.unidade for unidade in vm.unidadeMedidas track by unidade.id" 
                          ng-model="vm.itemEstoque.medida.unidadeMedida">
                          <option value="">Selecione a Unidade</option>
                        </select>
    			          </div>
    			        </div>
      			    	<div class="actions">
      			      	<div class="ui button" onClick="$('.ui.modal').hide();return false;">Cancel</div>
      			      		<input type="button"  class="positive ui button"  ng-click="vm.inserirItemNaLista()"
      			        			value="Adicionar" onclick="$('.ui.modal').hide();">
      			        	</input>
      			    	</div>
    			      </div>
    			    </div>
    			  </div>
          </div>
        </form>
