

  <script type="text/javascript">

  $( document ).ready(function() {

    $('.ui.dropdown').dropdown();
    $('.ui.checkbox').checkbox();

  });




  </script>
<style type="text/css">
    @media only screen and (max-width: 800px) {
        .myMenu {
            display:none;
        }
    }

    @media only screen and (min-width: 800px) {
        .myMenu {
            display:block;
        }
    }
  </style>
    <div class="conteudo">
  
            <form id="itemForm" class="ui form">
            <div >
              <div class="ui dividing right aligned header">
                <div class="one field">
               		<h3 class="ui left floated header" style="margin-top:10px">Item de Estoque</h3>
                  <div class="ui right aligned labeled button bloca" onclick="$('#myModal').show();" tabindex="0">
                    <div class="ui blue button">
                      <i class="add icon"></i> Estoque
                    </div>
                    <a class="ui basic blue left pointing label" style="border-radius: 0px;">
                      {{vm.itemEstoque.qtdEstoque}} un
                    </a>
                    <a class="ui basic blue label" style="border-radius: 0px;">
                      R$ {{vm.itemEstoque.custoTotal}}
                    </a>
                    <a class="ui basic blue label">
                      R$ {{vm.itemEstoque.custoUnitario}} /un
                    </a>
                  </div>
                </div>
              </div>
          </div>
            <div class="one field">
              <div class="ui grid">
                
                <div class="ten wide column">
                  <div class="field">
                    <label>Nome Item</label>
                    <input type="text" ng-model="vm.itemEstoque.nome" name="itemEstoque[nomeItem]"  class="inputNomeEstoque" id="nome" value="" placeholder="Nome Item"/>
                  </div>
                </div>

                <div class="six wide column">
                  <div class="field">
                  	<label>Código</label>
                  	<div class="ui search">
          					  <div class="ui icon input">
          					  	<div>
          						    <input type="text" ng-model="vm.itemEstoque._id" class="prompt" id="inputCodigo" value="" placeholder="# Código" />
          					  	</div>					    
          					    <i class="inverted circular search link icon" ng-click="vm.getById()"></i>
          					  </div>
          					</div>
                  </div>
                </div>

              </div>
            </div>
            <div class="one field">
              
              <div class="field">
                <label>Descrição</label>
                <input type="text" ng-model="vm.itemEstoque.descricao" name="descricao" id="inputDescricao" value="" placeholder="Descrição"/>
              </div> 
            
            </div>

            <div class="two fields">
                <div class="ui field toggle checkbox">
                  <input type="checkbox" name="status" ng-model="vm.itemEstoque.status" ng-value="{{vm.itemEstoque.status}}">
                  <label>Status</label>
                </div>
              </div>

            <!-- <div class="two fields">
              <div class="field">
                <label>Categoria</label>
	                <select ng-options="categoria._id as categoria.nome for categoria in vm.categorias track by categoria.id" 
                    ng-model="vm.itemEstoque.categoria">
                    <option value="">Selecione a Unidade</option>
                  </select>
              </div>
              
              <div class="field" id="subCategoria">
	              <div class="field">
	                <label>Sub Categoria</label>
                  <select ng-options="subCategoria._id as subCategoria.nome for subCategoria in vm.subCategorias track by subCategoria.id" 
                    ng-model="vm.itemEstoque.subCategoria">
                    <option value="">Selecione a Unidade</option>
                  </select>
	              </div>
              </div>
            </div> -->
            <div class="three fields">
              <div class="field">
                <label>Qtd Por Unidade</label>
                <input type="text" ng-model="vm.itemEstoque.medida.medidaPorUnidade" value="" name="itemEstoque[quantidadePorUnidade]" placeholder="qtd por unidade (ex: 600 un medida ml)" type="text" />
              </div>
              <div class="field">
                <label>Un Medida</label>
                <select ng-options="unidade._id as unidade.unidade for unidade in vm.unidadeMedidas track by unidade.id" 
                  ng-model="vm.itemEstoque.medida.unidadeMedida">
                  <option value="">Selecione a Unidade</option>
                </select>
              </div>
              <div class="field">
                <label>Qtd crítica</label>
                <input type="text" ng-model="vm.itemEstoque.qtdCritica" value="{{vm.itemEstoque.qtdCritica}}" name="quantidadeCritica" placeholder="#" type="text" />
              </div>
            </div>

            <div class="one field">
              <div class="field">
                <input type="button" ng-disabled="itemForm.$invalid" ng-click="!vm.itemEstoque._id ? vm.insert() : vm.update()" 
                  class="positive ui button" id="btsalvar" value="Salvar" />

				        <input type="button" ng-if="vm.itemEstoque._id" ng-click="vm.delete()" class="negative  ui button" value="Inativar" id="btexcluir" />

                <input type="button" class="submit ui button" outcome="cadastroEstoque" value="Novo" />
              </div>
            </div>
          </form>


  <div class="ui modal" id="myModal" style="margin-top: -200px;">
    <i class="close icon"></i>
    <div class="header">
      Entrada Estoque
    </div>
    <form class="ui inverted form">
   	  <div class="ui inverted segment">
		  <div class="ui inverted form">
		    <div class="two fields">
		      <div class="field">
		        <label>Quantidade Entrada</label>
		        <input type="text" id="quantidade"  value="#{estoqueManagedBean.qtd}" placeholder="# Quantidade" type="text"/>
		      </div>
		      <div class="field">
		        <label>Custo Total da entrada</label>
		        <input type="text" id="valorTotal"  value="#{estoqueManagedBean.valor}" placeholder="R$ valor total" type="text"/>
		      </div>
		    </div>
		    <input type="button" class="ui positive button" value="Adicionar" action="#{estoqueManagedBean.adicionarItensEstoque}"/>
   			<div class="negative ui button" onclick="$('.ui.modal').hide();">Cancel</div>
		  </div>
		</div>
    
    </form>
  </div>
