<script type="text/javascript">
$('.test.checkbox').checkbox();
</script>
        
        <form name="clienteForm" class="ui form" prependId="false">
        <h4 class="ui dividing header">Dados</h4>
      
        <div class="fields">
            <div class="eight wide field">
              <label>Nome</label>
              <input type="text" ng-required="true" ng-model="vm.cliente.nome" name="nome" placeholder="Nome"/>
            </div>
            <div class="eight wide field">
              <label>Data Nascimento</label>
              <div class="ui calendar" >
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                    <input style="width:100%" ng-required="true" type="date"  ng-model="vm.cliente.dataNascimento" 
                        name="dataNascimento" class="date" id="dataNascimento" />
                </div>
              </div>
            </div>
          </div>

        <div class="three fields">
          <div class="field">

            <label>CPF</label>
            <div class="ui icon input">
              <input type="text" ng-required="true" ng-model="vm.cliente.cpf" class="cpf" name="cpf" 
                  required="true" value="" placeholder="xxx.xxx.xxx-xx" type="text"/>
              <i class="inverted circular search link icon" ng-click="vm.getByCpf()"></i>
            </div>
          </div>

          <div class="field">
            <label>RG</label>
            <input type="text" class="rg" ng-required="true" ng-model="vm.cliente.rg"  name="rg" value="" placeholder="x.xxx.xxx-x" type="text"/>
          </div>
          <div class="field">
            <label>Telefone</label>
            <input type="text" class="telefone" ng-required="true" ng-model="vm.cliente.telefone" name="telefone" value="" placeholder="(xx)00000-0000"  type="text"/>
          </div>
        </div>
        
        <div class="two fields">
          <div class="ui test toggle checkbox">
            <input type="checkbox" name="status" ng-model="vm.cliente.status" ng-value="{{vm.cliente.status}}">
            <label>Status</label>
          </div>
        </div>



        <h4 class="ui dividing header">Endereço</h4>
        <div class="field">
          <div class="fields">
            <div class="twelve wide field">
            <label>Rua</label>
              <input type="text" ng-model="vm.cliente.endereco.rua" ng-required="true" name="rua" value="" placeholder="Rua" type="text"/>
            </div>
            <div class="four wide field">
              <label>Complemento</label>
              <input type="text" ng-model="vm.cliente.endereco.complemento" name="complemento" value="" placeholder="Apt #" type="text"/>
            </div>
          </div>
        </div>
        <div class="fields">
          <div class="eight wide field">
            <label>Cidade</label>
            <input type="text" ng-model="vm.cliente.endereco.cidade" ng-required="true" name="cidade" value="" placeholder="cidade" type="text"/>
          </div>
          <div class="eight wide field">
            <label>Estado</label>
            <select ng-model="vm.cliente.endereco.uf" name="uf" ng-required="true" class="ui fluid dropdown">
              <option value="" ><option>
              <option value="ac" >Acre</option>
              <option value="al" >Alagoas</option>
              <option value="am" >Amazonas</option>
              <option value="ap" >Amapá</option>
              <option value="ba" >Bahia</option>
              <option value="ce" >Ceará</option>
              <option value="df" >Distrito Federal</option>
              <option value="es" >Espírito Santo</option>
              <option value="go" >Goiás</option>
              <option value="ma" >Maranhão</option>
              <option value="mt" >Mato Grosso</option>
              <option value="ms" >Mato Grosso do Sul</option>
              <option value="mg" >Minas Gerais</option>
              <option value="pa" >Pará</option>
              <option value="pb" >Paraíba</option>
              <option value="pr" >Paraná</option>
              <option value="pe" >Pernambuco</option>
              <option value="pi" >Piauí</option>
              <option value="rj" >Rio de Janeiro</option>
              <option value="rn" >Rio Grande do Norte</option>
              <option value="ro" >Rondônia</option>
              <option value="rs" >Rio Grande do Sul</option>
              <option value="rr" >Roraima</option>
              <option value="sc" >Santa Catarina</option>
              <option value="se" >Sergipe</option>
              <option value="sp" >São Paulo</option>
              <option value="to" >Tocantins</option>
            </select>
          </div>
        </div>

  

          <input type="button" ng-disabled="clienteForm.$invalid" ng-click="!vm.cliente._id ? vm.insert() : vm.update()" 
            class="positive ui button" id="btsalvar" value="Salvar" />
          
          <input type="button" ng-if="vm.cliente._id" ng-click="vm.delete()" class="negative  ui button" value="Inativar" id="  btexcluir" />

          <a ui-sref="listaCliente" class="submit ui button">Ir para lista</a>
          

          <!-- BLOCO RENDERIZADO CASO TENHA COMANDA ABERTA -->
          <div class="field" id="comandaPanel" style="margin-top:10px">
            <h4 style="margin-top:10px" class="ui dividing header">Comanda</h4>
            <div class="field">
              <div class="four wide field">
                  <label>Número</label>
                  <input type="text" class="" placeholder="#" type="text"/>
                </div>
                
                <input ng-disabled="!vm.cliente._id" type="button" class="primary ui button" id="btabrir" value="Abrir Comanda" ></input>
            </div>          
          </div>
          <!-- FIM BLOCO RENDERIZADO CASO TENHA COMANDA ABERTA -->
          
      </form>