  <script src="../js/list.js"></script>

  <script type="text/javascript">


  $( document ).ready(function() {

    $('.ui.dropdown').dropdown();
    $('.ui.checkbox').checkbox();
  }

  </script>

  <div style="width: 100%;" class="ui raised very padded text container segment">
    <h3 class="ui dividing header">Clientes</h3>
    <div id="users">
      <div class="one field">
        <div class="field">
          <input ng-model="filtro" class="search" style="width:100%;float:left;" placeholder="Filtro por Nome" />
        </div>
      </div>

      <div ng-repeat="cliente in clientes" ng-class-odd="'black'" ng-class-even="'white'">
        {{cliente.nome}}
      </div>

      <form name="listaClienteForm">
        <table class="ui selectable celled table">
          <thead>
            <tr>
              <th class="sort" data-sort="name">Nome</th>
              <th>Status</th>
              <th>Editar</th>
            </tr>
          </thead>
          <tbody>              
              <tr ng-repeat="cliente in vm.clientes  | filter : filtro track by $index" class="positive">
                    <td class="name">{{cliente.nome}}</td>
                    <td class="ativo">{{cliente.status}}</td>
                    <td class="center aligned">
                      <a  ui-sref="cadastroCliente({cpf:cliente.cpf})"><i class="edit icon "/></a>
                    </td>
              </tr>
          </tbody>
        </table>
        <input type="button" class="ui circular add icon button right floated"  outcome="cadastroProduto">
            <i class="add icon"></i>
        </input>
      </form>
    </div>
</div>