  <script type="text/javascript">


  $( document ).ready(function() {

    $('.ui.dropdown').dropdown();
    $('.ui.checkbox').checkbox();
  }

  </script>

  <div style="width: 100%;" class="ui raised very padded text container segment">
    <h3 class="ui dividing header">Itens Estoque</h3>
    <div id="users">
      <div class="one field">
        <div class="field">
          <input ng-model="filtro" class="search" style="width:100%;float:left;" placeholder="Filtro por Nome" />
        </div>
      </div>

      <div ng-repeat="item in itensEstoque" ng-class-odd="'black'" ng-class-even="'white'">
        {{item.nome}}
      </div>

      <form name="listaClienteForm">



        <table class="ui compact celled definition table">
          <thead>
            <tr>
              <th></th>
              <th class="center aligned">Nome</th>
              <th class="center aligned">Remover</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.itensEstoque  | filter : filtro track by $index">
              <td class="collapsing">
                <div class="ui fitted slider checkbox">
                  <input ng-disabled="true" type="checkbox" ng-checked="{{item.status}}"> <label></label>
                </div>
              </td>
              <td ui-sref="cadastroEstoque({id:item._id})" class="center aligned">{{item.nome}}</td>
              <td ui-sref="cadastroEstoque({id:item._id})" class="center aligned">
                <button ng-click="vm.delete(item._id)" class="circular ui icon button">
                  <i class="icon delete"></i>
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot class="full-width">
            <tr>
              <th></th>
              <th colspan="4">
                <div ui-sref="cadastroEstoque" class="ui right floated small primary labeled icon button">
                  <i class="add icon"></i> Adicionar
                </div>
                <div  class="ui">
                  <div style="height: 33px;"   class="ui icon input">
                    <input ng-model="filtro" class="prompt" type="text" placeholder="Filtro">
                    <i class="search icon"></i>
                  </div>
                </div>
              </th>
            </tr>
          </tfoot>
        </table>
      </form>
    </div>
</div>